{% extends 'home/base.html' %}

{% block content %}
    <h4 class="md-h4--bold md-font-color--alternate docs-section__title">Uploaded Certificate Bundles (.zip Files)</h4>
    <div class="md-data-table" style="width: 100%;">
        <div class="md-data-table__wrapper">
            <table class="testTableClass">
                <thead class="md-data-table__thead">
                    <tr>
                        <th style="width: 6rem">Description</th>
                        <th style="width: 24rem">File Name</th>
                        <th style="width: 12rem">Uploaded</th>
                        <th style="width: 16rem">ID</th>
                    </tr>
                </thead>
                <tbody class="md-data-table__tbody">
                    {% for fz in data.zip %}
                        <tr><td> {{ fz.base_desc }} </td><td> {{ fz.filename }} </td><td> {{ fz.uploaded_at }} </td><td> {{ fz.id }} </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    <h4 class="md-h4--bold md-font-color--alternate docs-section__title">Uploaded Certificate Files</h4>
    <div class="md-data-table" style="width: 100%;">
        <div class="md-data-table__wrapper">
            <table class="testTableClass">
                <thead class="md-data-table__thead">
                    <tr>
                        <th style="width: 6rem">Description</th>
                        <th style="width: 24rem">File Name</th>
                        <th style="width: 12rem">Uploaded</th>
                        <th style="width: 16rem">ID</th>
                    </tr>
                </thead>
                <tbody class="md-data-table__tbody">
                    {% for fd in data.file %}
                        <tr><td> {{ fd.base_desc }} </td><td> {{ fd.filename }} </td><td> {{ fd.uploaded_at }} </td><td> {{ fd.id }} </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
