{% extends 'home/base.html' %}
{% load extras %}
{% load static %}

{% block content %}
    <form method="POST" action="/home/trbl-logs" style="width:100%;padding:0px" id="filter-form-id">
        {% csrf_token %}
        <div class="md-input-group">
            <div class="md-input__icon-container">
                <div class="row" style="align-content:center; display:flex">
                    <div class="md-input-container columns medium-12" id="filter-container">
                        <div class="md-input__wrapper md-select">
                            <button id="filter-button-id" class="ignore md-button md-button--36 active" alt="" type="button" aria-labelledby="filter-label-id" tabindex="30" name="md-select-69" aria-haspopup="listbox" onclick="toggleList('filter-button-id', 'filter-dropdown-id', 'filter-list-id')">
                                <span class="ignore md-button__children" style="opacity: 1;">
                                    <div style="font-size: small" class="ignore md-list-item__left" id="filter-label-id">
                                        {{ filter_name }}
                                        <i class="ignore icon icon-arrow-down_16"></i>
                                    </div>
                                </span>
                            </button>
                            <div class="md-event-overlay md-event-overlay--bottom" id="filter-dropdown-id" style="display:none;">
                                <div class="md-event-overlay__children" id="filter-list-id">
                                    <div id="filter-content" class="md-list md-list--vertical md-list" role="listbox" aria-labelledby="md-select-69__label" aria-multiselectable="false">
                                        {% for filter in filters %}
                                        <div aria-current="true" class="md-list-item" id="md-list-73__so-item" role="option" tabindex="0" title="{{ filter.description }}">
                                            <div style="font-size: small" class="md-list-item__center" onclick="listclick('{{ filter.id }}', '{{ filter.description }}', 'filter-label-id', 'filter-id-id', 'filter-name-id', '');document.getElementById('filter-form-id').submit();">{{ filter.description }}</div>
                                            <div class="md-list-item__right"></div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="filter-id-id" name="filter-id-id" />
                    <input type="hidden" id="filter-name-id" name="filter-name-id" value="" />
                </div>
            </div>
        </div>
    </form>

    <div class="md-data-table" style="width: 100%;">
        <div class="md-data-table__wrapper">
            <table class="testTableClass">
                <thead class="md-data-table__thead">
                    <tr>
                        <th style="width: 8rem">Date/Time</th>
                        <th style="width: 5rem">Task</th>
                        <th style="width: 8rem">Source</th>
                        <th style="width: 5rem">Action</th>
                    </tr>
                </thead>
                <tbody class="md-data-table__tbody">
                {% for d in data %}
                    <tr>
                        <td>{{ d.last_update }}</td>
                        <td>{{ d.description }}</td>
                        {% if d.iseserver %}
                            <td>{{ d.iseserver }}</td>
                        {% elif d.organization %}
                            <td>{{ d.organization }}</td>
                        {% elif d.syncsession %}
                            <td>{{ d.syncsession }}</td>
                        {% elif d.elementsync %}
                            <td>{{ d.elementsync }}</td>
                        {% elif d.element %}
                            <td>{{ d.element }}</td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                        <td>
                            <a onclick="getLog('{{ d.task_data|base64encode }}')"><span class="icon icon-file-text_24"></span></a>
                            {% if filter_id %}
                                <a href="/home/trbl-logs?action=del&id={{ d.id }}&filter-id-id={{ filter_id }}"><span class="icon icon-delete_24"></span></a>
                            {% else %}
                                <a href="/home/trbl-logs?action=del&id={{ d.id }}"><span class="icon icon-delete_24"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
    function getLog(data) {
        document.getElementById("logdata").innerHTML = "<pre>" + atob(data) + "</pre>";
        document.getElementById("logmodal").style = "display:inline;";
    }
    </script>

    <div id="logmodal" class="md-modal__backdrop fade in" style="display:none; width: 100px;height: 50px;position:fixed; top: calc(50% - 25px);left: calc(50% - 50px);">
        <div role="dialog" id="react-aria-modal-dialog" class="md-modal md-modal--default in" aria-labelledby="modal1">
            <div class="md-modal__content">
                <div class="md-modal__flex-container">
                    <div class="md-modal__header">
                        <span class="md-modal__title">Organization Data</span>
                        <button type="button" class="md-close md-modal__close" onclick="document.getElementById('logmodal').style = 'display:none;'"></button>
                    </div>
                    <div id="logdata" class="md-modal__body"></div>
                    <div class="md-modal__footer">
                        <button class="md-button md-button--36 md-button--blue" alt="Submit Form" type="button" aria-label="Submit Form">
                            <span class="md-button__children" onclick="document.getElementById('logmodal').style = 'display:none;'">OK</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}