{% extends 'home/base.html' %}
{% load extras %}

{% block content %}
    <div class="md-data-table" style="width: 100%;">
        <div class="md-data-table__wrapper">
            <table class="testTableClass">
                <thead class="md-data-table__thead">
                    <tr>
                        <th style="width: 4rem">Field</th>
                        <th style="width: 32rem">Value</th>
                    </tr>
                </thead>
                <tbody class="md-data-table__tbody">
                    <tr><td>Database ID</td><td>{{ data.id }}</td></tr>
                    <tr><td>Tag Number</td><td>{{ data.tag_number }}</td></tr>
                    <tr><td>Name</td><td>{{ data.name }}</td></tr>
                    <tr><td>Name (for ISE)</td><td>{{ data.cleaned_name }}</td></tr>
                    <tr><td>Description</td><td>{{ data.description }}</td></tr>
                    <tr><td>Sync Enabled</td><td>{{ data.do_sync }}</td></tr>
                    <tr><td>Sync Session</td><td>{{ data.syncsession }}</td></tr>
                    {% if data.origin_ise %}
                        <tr><td>Origin (ISE)</td><td>{{ data.origin_ise }}</td></tr>
                    {% else %}
                        <tr><td>Origin (Org)</td><td>{{ data.origin_org }}</td></tr>
                    {% endif %}
                    <tr><td>Delete?</td><td>{{ data.push_delete }}</td></tr>
                    <tr><td>Last Update</td><td>{{ data.last_update }}</td></tr>
                    <tr><td>Match Report</td><td>{{ data.objects_match|safe }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}