{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static "sync/momentum-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "sync/momentum-ui-icons.css" %}" rel="stylesheet">
    <title>Adaptive Policy Sync</title>
    <script>
        function clearinput(inputid) {
            let src = document.getElementById(inputid);
            src.value = "";
        }
    </script>
</head>

<body>
    <div class="md-panel md-panel--form md-panel--full">
        <div class="md-panel__main">
            <img alt="" class="md-panel__image" src="{% static "sync/cisco-meraki-logo.png" %}">
            {% block content %}
            {% endblock %}
       </div>
       <div class="md-panel__footer">
          <div class="footer__logo">
             <i class="icon icon-cisco-logo"></i>
          </div>
       </div>
    </div>
    </body>
</html>