{% extends 'general/base.html' %}

{% block content %}
    <form method="post" action=".">
        {% csrf_token %}
        <div class="md-input-group">
            <div class="md-input__icon-container">
                <div class="row" style="align-content:center; display:flex">
                    <div class="md-input-container columns medium-6">
                        <label class="md-label md-input__label" for="certDesc">
                            <span style="float:left">{{ form.username.label }}</span>
                        </label>
                        <div class="md-input__wrapper">
{#                            {{ form.username }}#}
                            <input class="md-input md-input--after md-dirty" tabindex="10" type="text" id="username" name="username" placeholder="{{ form.username.label }}" value="">
                            <span class="md-input__after">
                                <button class="md-button md-button--36 md-button--icon md-input__icon-clear" id="md-button-50" data-md-event-key="md-button-50" alt="clear input" type="button" aria-label="clear input" aria-pressed="" tabindex="110" onclick="clearinput('username')">
                                    <span class="md-button__children" style="opacity: 1;"><i class="md-icon icon icon-clear-active_16" style="font-size: 16px;"></i></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="align-content:center; display:flex">
                    <div class="md-input-container columns medium-6">
                        <label class="md-label md-input__label" for="certDesc">
                            <span style="float:left">{{ form.password.label }}</span>
                        </label>
                        <div class="md-input__wrapper">
{#                            {{ form.password }}#}
                            <input class="md-input md-input--after md-dirty" tabindex="20" type="password" id="password" name="password" placeholder="{{ form.password.label }}" value="">
                            <span class="md-input__after">
                                <button class="md-button md-button--36 md-button--icon md-input__icon-clear" id="md-button-50" data-md-event-key="md-button-50" alt="clear input" type="button" aria-label="clear input" aria-pressed="" tabindex="120" onclick="clearinput('password')">
                                    <span class="md-button__children" style="opacity: 1;"><i class="md-icon icon icon-clear-active_16" style="font-size: 16px;"></i></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row"><br></div>
                <div class="row" style="align-content:center; display:flex">
                    <div class="md-input-container columns medium-6">
                        <div class="md-input__wrapper">
                            <button id="login" name="login" class="md-button md-button--blue">Log In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
